.cform1{
    text-align: center;
    color: red;
}
.para1{
    color: blue;
    margin-bottom: 70px ;
}
.para2{
    color: brown;
}
.cform2{
    text-align: left;
    color: blue;
}
.cform3{
    text-align: left;
    color: blue;
}